h1,h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
    border-collapse: collapse;
    width: 100%;
}

#faq {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #faq td, #faq th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #faq tr:nth-child(even){background-color: #f2f2f2;}
  
  #faq tr:hover {background-color: #ddd;}
  
  #faq th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(4, 170, 109, .5);
    position: fixed;
    height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    background-color: #04AA6D;
    color: white;
    border-style: solid;
    border-color: rgba(255,255,255,.5);
    border-width: 3px;
    padding: 16px;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 3px;
  
  }
  
  /* Active/current link */
  .sidebar a.active {
    align-self: end;
    transform: scale(1.25);
    width: 125%;
    text-align: end;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgba(100, 100, 100, .5);
    color: white;
    align-self: end;
    transform: scale(1.25);
    width: 125%;
    text-align: end;
    border: 15px rgba(200, 200, 200, .3);
    border-radius: 2px;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    .sidebar a {
      float: left;
    }
  
    div.content {
      margin-left: 0;
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  
  .geeks {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .geeks img {
    width: 100%;
    transition: 0.5s all ease-in-out;
  }
  
  .geeks:hover img {
    transform: scale(1.5);
  }
  
  p.solid {
    border-style: solid;
  }
  
  .parallax{
      /* The image used */
  background-image: url("./assets/parallax.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
